*{
    margin-top: 0;
}
body{
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.nav li a{
    color: blue;
    text-decoration: none;
}
.mountain{
    width: 50vw;
}

.nav li{
   
    font-family: 'Ephesis', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 32px;
    display : inline-block;
    list-style : none;
}
.adj{
    margin-right: 5vw;
}
 li a:hover{
     transition-duration: 1.2s;
     border: 2px solid black;
     border-radius:5px;
 background-color: rgb(112, 112, 223);
  color: white;
  
}


h1{
    margin: 0 auto;
    font-family: 'Akronim', cursive;
    font-size: 4rem;

}
h3{
    
    
    font-family: 'Explora', cursive;
}
h4{
    
    
    font-family: 'Explora', cursive;
}
p{
    
    font-family: 'Ephesis', cursive;
}
.header{
    background-color:#E4F9F5 ;
    padding-top: 2vw;
   
}

.bottom-cloud{
    position: relative;
    right: 11vw;
}
.top-cloud{
    position: relative;
    left: 12vw;
}
.content{
   
}
.about-me{
    background-color: white;
    padding-bottom: 5vw;
}
.about-me img{
    height: 20vw;
}
.skills{
    
    padding-bottom: 0;
    margin-bottom: 0;
    /* background-color: #E4F9F5; */
    background-color:cornsilk;
    
}

.Google-Cloud{
    width: 20vw;
}


.footer{
    margin-top: 0;
    padding-top: 0;
    color: white;
    background-color: black;
    
}

