*{
    margin-top: 0;
}
body{
    margin: 0;
    text-align: center;
    font-size: 32px;
    display: inline-block;
}

.nav li a{
    color: black;
    text-decoration: none;
}
.nav li{
   
    font-family: 'Ephesis', cursive;;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8vw;
    padding-bottom: 4vw;
    display : inline-block;
    list-style : none;
}
 li a:hover{
     transition-duration: 1.2s;
     border: 2px solid black;
     border-radius:5px;
 background-color: rgb(112, 112, 223);
  color: white;
  
}


h1{
    margin: 0 auto;
    font-family: 'Akronim', cursive;
    /* font-size: 5rem; */

}
h3{
    
    
    font-family: 'Explora', cursive;
}
h4{
    
    
    font-family: 'Explora', cursive;
}
p{
    /* font-family: monospace; */
    font-family: 'Ephesis', cursive;
}
.header{
    background-color:#E4F9F5 ;
    padding-top: 2vw;
   
}
img{
    background-color:#E4F9F5 ;
}
.bottom-cloud{
    position: relative;
    right: 11vw;
}
.top-cloud{
    position: relative;
    left: 12vw;
}
.content{
   
}
.about-me{
    background-color: white;
    padding-bottom: 5vw;
}
.about-me img{
    height: 20vw;
}
.skills{
    
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #E4F9F5;
    
}
.g-cloud{
    background-color: white;
}
.g-cloud img{
    background-color: white;
    height: 20vw;

}

.footer{
    margin-top: 0;
    padding-top: 0;
    color: white;
    background-color: black;
    
}

